@font-face {
    font-family: "santteutDotum";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/santteutDotum/santteutDotum-Light.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/santteutDotum/santteutDotum-Light.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/santteutDotum/santteutDotum-Light.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/santteutDotum/santteutDotum-Light.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/santteutDotum/santteutDotum-Light.ttf") format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: "santteutDotum";
    font-weight: 500;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/santteutDotum/santteutDotum-Medium.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/santteutDotum/santteutDotum-Medium.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/santteutDotum/santteutDotum-Medium.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/santteutDotum/santteutDotum-Medium.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/santteutDotum/santteutDotum-Medium.ttf") format("truetype");
    font-display: swap;
} 
.santteutDotum {
    font-family: "santteutDotum";
}
.santteutDotum300 {
    font-family: "santteutDotum";
    font-weight: 300;
}
.santteutDotum500 {
    font-family: "santteutDotum";
    font-weight: 500;
}